<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navBar">
        <button><a href="/user/login">Login</a></button>
    </nav>
    <form onsubmit="forgot(event)" class="container">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>

        <button type="submit">Change Password</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->

    <script>
        async function forgot(e){

            e.preventDefault();
            // console.log(e.target.name);
            try{
                const form = new FormData(e.target);

                const userDetails = {
                    email: form.get("email"),
                }
                // console.log(userDetails);
                
                const response = await axios.post('http://localhost:3000/user/forgotpassword',userDetails)
                
                alert("Reset Link sent to your email!");
                document.body.innerHTML += '<div style="color:red;">Mail Successfuly sent <div>'
            }
            
            catch(err) {
                document.body.innerHTML += `<div style="color:red;">${err} <div>`;
            }
        }
    </script>
</body>
</html>



<!-- Sendinblue API Key --- xsmtpsib-ea044843ac84db231418234bcc6fe696cdfc451adb01eb3b0da9de1b0e5e4b00-DPzqFmIbNtYTX6Ld -->