<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navBar">
        <button><a href="/user/login">Login</a></button>
    </nav>
    
    <h1>Reset Password</h1>
    <form onsubmit="resetPass(event)" class="container">
        <label for="newPass">Password:</label>
        <input type="password" name="newPass" id="newPass">

        <button type="submit">Reset</button>
    </form>

    
    <script>
        async function resetPass(e, id){
            e.preventDefault();
            // console.log(window.location.href);
            try{
                const newPassword= {password :e.target.newPass.value};
                const response = await axios.post(window.location.href, newPassword);
                alert("Password updated!, You can now login with this new password");
                window.location.href = 'http://localhost:3000/user/login';
            } catch(err){
                console.log(JSON.stringify(err));
                document.body.innerHTML += `<div style="color:red;">Updating password Failed ${err.message}</div>`
            }
        }
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
</body>
</html>