<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <form onsubmit="signup(event)">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">SignUp</button>
        
    </form>

    <h3>Already a User? <a href="/user/login">Login</a></h3>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>

    <script>
        async function signup(e){
            try{
                e.preventDefault();
                console.log(e.target.email.value);

                const signupDetails = {
                    name: e.target.name.value,
                    email:e.target.email.value,
                    password:e.target.password.value
                }

                // console.log(signupDetails);

                const response = await axios.post("http://localhost:3000/user/signup", signupDetails)
                if(response.status === 204){
                    window.location.href = "login";
                } else{
                    throw new Error("User email id already exists") ;
                }
            }
            catch(err){
                document.body.innerHTML += `<div style="color:red;">${err}</div>`
            }
        }
    </script>
</body>
</html>